@media (max-width: 992px) {
    header{
        justify-content: end!important;
        .menu{
            display: none!important;
        }
        .burger__menu__btn{
            display: block!important;
        }
    }
    .main__image{
        img{
            display: flex;
            justify-content: center;
            max-width: 100%;
        }
    }
    .recent__posts{
        width: 100%!important;
        .posts__flex{
            display: flex;
            flex-direction: column;
            row-gap: 32px;
        }
    }
    .instagram__block{
        .content{
            max-width: 100%;
        }
        #img_insta_4{
            display: none;
        }
        .photos{
            max-width: 100%;
        }
        img{
            max-width: calc((100%/3) - 7.5px)!important;
        }
    }
}
@media (max-width: 480px){
    .recent__posts{
        .post{
            flex-direction: column!important;
            .main{
                margin-left: 0!important;
                .description{
                    display: none;
                }
            }
        }
    }
    .instagram__block{
        .content{
            max-width: 100%;
        }
        #img_insta_4{
            display: none;
        }
        #img_insta_3{
            display: none;
        }
        #img_insta_2{
            display: none;
        }
        .photos{
            max-width: 100%;
        }
        img{
            max-width: 300px!important;
        }
    }
    footer{
        padding: 38px 0px 47px 0px!important;
    }
}