@import 'mixins.scss';
header{
    //width: 1170px;
    display: flex;
    justify-content: center;
    height: 55px;
    margin: 29px auto 34px auto;
    .burger__menu__btn{
        a{
            text-decoration: none;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-content: center;
            flex-direction: column;
            row-gap: 2px;
            .line{
                display: none;
            }
            .line:before, .line:after {content: ""; position: absolute; left:15px; width: 17px; height: 2px; background: #ffffff;}
            .line:before {transform: rotate(45deg);}
            .line:after {transform: rotate(-45deg);}
            img{
                width: 17px;
                height: 2px;
                margin: 0 auto;
            }
        }
        position: relative;
        display: none;
        width: 44px;
        height: 37px;
        background-color: #000000;
        justify-content: center;
        align-content: center;
        flex-direction: column;
    }
    .burger__menu{
        position: absolute;
        top:69px;
        width: 182px;
        height: 208px;
        background-color: #F5F5F5;
        display: none;
        flex-direction: column;
        a{
            display: flex;
            align-items: center;
            @include font-style(400, 11px, 22px, #4E4E4E);
            text-decoration: none;
            letter-spacing: 1.1px;
            text-transform: uppercase;
            height: 100%;
            p{
                padding-left: 10px;
            }
        }
        .active{
            color: #57A4A4;
        }
        a:hover{
            background-color: #E5E5E5;
        }
    }
    .menu{
        display: flex;
        column-gap: 68px;
        align-items: center;
        a{
            @include font-style(400, 11px, 22px, #4E4E4E);
            letter-spacing: 1.1px;
            text-decoration: none;
            text-transform: uppercase;
        }
        a:hover{
            color:#57A4A4;
        }
    }
}
.main__image{
    max-width: 1170px;
    margin: 0 auto 69px auto;
    img{
        max-width: 100%;
    }
}
.recent__posts{
    max-width: 1165px;
    //height: 355px;
    margin: 0 auto;
    img{
        width: 160px;
        height: 140px;
    }
    .posts__flex{
        display: flex;
        justify-content: space-between;
        .row__1{
            display: flex;
            flex-direction: column;
            row-gap: 32px;
        }
        .row__2{
            display: flex;
            flex-direction: column;
            row-gap: 32px;
        }
    }
    .first__paragraph{
        @include font-style(700, 16px, 22px, #4E4E4E);
        margin-bottom: 24px;
        text-transform: uppercase;
    }
    .post{
        max-width: 557px;
        //height: 140px;
        display: flex;
        .main{
            img{
                width: 160px;
                height: 140px;
            }
            margin-left: 21px;
            .header{
                @include font-style(700, 16px, 30px, #4E4E4E);
                margin-bottom: 1px;
            }
            .under{
                @include font-style(400, 12px, 20px, #7C7C7C);
                margin-bottom: 13px;
            }
            .description{
                @include font-style(400, 14px, 25px, #5C5C5C);
            }
        }
    }
}
.instagram__block{
    background-color: #f5f5f5;
    width: 100%;
    //height: 448px;
    margin-top: 68px;
    margin-bottom: 42px;
    .content{
        //width: 1165px;
        margin: 0 auto;
        padding-top: 47px;
        .head{
            max-width: 1165px;
            display: flex;
            margin: 0 auto;
            justify-content: space-between;
            .left__paragraph{
                @include font-style(700, 16px, 22px, #4E4E4E);
                text-transform: uppercase;
            }
            .right__paragraph{
                @include font-style(700, 13px, 22px, #4E4E4E);
                text-transform: uppercase;
            }
        }
        .photos{
            display: flex;
            justify-content: center;
            padding-top: 24px;
            column-gap: 10px;
            img{
                max-width:calc((100%/4) - 10px);
                height:auto;
            }
        }
    }
}
footer{
    max-width: 100%;
    //height: 355px;
    padding: 38px 0px 57px 0px;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    .first__paragraph{
        text-transform: uppercase;
        @include font-style(700, 16px, 22px, #FEFEFE);
        padding-bottom: 22px;
        text-align: center;
        max-width: 100%;
    }
    .description{
        @include font-style(400, 16px, 28px, #B9B9B9);
        max-width: 684px;
        padding-bottom: 37px;
        text-align: center;
    }
    .last__paragraph{
        @include font-style(400, 16px, 26px, #B9B9B9);
        text-align: center;
        max-width: 100%;
    }
    .icons{
        display: flex;
        column-gap: 5px;
        padding-bottom: 34px;
        justify-content: center;
        max-width: 100%;
        .circle__rss{
            @include circle(#F8902E);
        }
        .circle__facebook{
            @include circle(#39599F);
        }
        .circle__twitter{
            @include circle(#45B0E3);
        }
        .circle__dribbble{
            @include circle(#D97AB0);
        }
        .circle__pinterest{
            @include circle(#CC212C);
        }
    }
}